body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 42px;
}

h1.main {
  font-weight: normal;
  font-size: 50px;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}

p.copyright {
  text-align: right;
}

a.link {
  color: #76febc;
  font-size: 16px;
}

p.img {
  text-align: center;
}
